@using Microsoft.AspNet.Identity
@using BikeTrips.Web.ViewModels.TripModels
@model FullTripViewModel

@if (Model.Participants.Any(x => x.id == User.Identity.GetUserId()))
{
    @Ajax.ActionLink("Leave event", "LeaveTrip", "Trip", new { id = Model.Id },
          new AjaxOptions()
          {
              HttpMethod = "POST",
              UpdateTargetId = "buttons-container",
              InsertionMode=InsertionMode.Replace
          }, new { @class = "btn btn-warning my-custom-button", @role = "button" })
}
else if (User.Identity.IsAuthenticated)
{
        @Ajax.ActionLink("Join event", "JoinTrip", "Trip", new { id = Model.Id },
          new AjaxOptions()
          {
              HttpMethod = "POST",
              UpdateTargetId = "buttons-container",
              InsertionMode = InsertionMode.Replace
          }, new { @class = "btn btn-info my-custom-button", @role = "button" });
}
@if (Model.Creator.Id == User.Identity.GetUserId())
{
    @Ajax.ActionLink("Delete event", "DeleteTrip", "Trip", new { id = Model.Id },
          new AjaxOptions()
          {
              HttpMethod = "POST",
              UpdateTargetId = "buttons-container",
              InsertionMode = InsertionMode.Replace
          }, new { @class = "btn btn-danger my-custom-button", @role = "button" });
}
<div class="participants-container">
    @switch (Model.Participants.Count)
            {
                case 0:
            <p class="text-medium">This event has no participants currently</p>
            break;
        case 1:
            @Html.Partial("_ParticipantsPartial", Model)
            <p>/This event has 1 participant/</p>
            break;
        default:
            @Html.Partial("_ParticipantsPartial", Model)
            <p>/This event has @Model.Participants.Count participants/</p>
            break;
    }
</div>