@using BikeTrips.Web.ViewModels.CommentModels;
@model ICollection<CommentViewModel>

<h3 class="page-title">Chat</h3>

<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" class="btn-info" />
</div>

<div class="chat-preview-container">
    <ul id="discussion">
        @foreach (var comment in Model)
        {
            if (comment.Author == @Context.User.Identity.Name)
            {
                <li class="current-user">
                    <strong>@comment.Author</strong>: @comment.Content
                </li>
            }
            else
            {
                <li class="other-user">
                    <strong>@comment.Author</strong>: @comment.Content
                </li>
            }
        }
    </ul>
</div>
