@using BikeTrips.Services.Web;
@using BikeTrips.Web.ViewModels.TripModels
@model FullTripViewModel

@{
    ViewBag.Title = Model.TripName;
}
<div class="row">
    <div class="information-container">
        <h2 class="page-title">Name: @Model.TripName</h2>

        <div id="buttons-container">
            @Html.Partial("_ButtonsPartial", Model)
        </div>

        <p class="text-medium">@Model.Type.GetDescription()</p>
        <p class="text-medium">Starting in: @Model.StartingPoint</p>
        <p class="text-medium">On: @Model.StartingTime</p>


        Distance length: @Model.Distance km.
        @if (Model.Denivelation > 0.5)
        {
            <p>Denivelation: @Model.Denivelation m.</p>
        }
        <p>Details: @Model.Description</p>
        <p>Created by @Model.User</p>
        <div class="participants-container">
            @if (Model.Participants.Count <= 0)
            {
                <p class="text-medium">This events has no participants currently</p>
            }
            else if (Model.Participants.Count == 1)
            {
                @Html.Partial("_ParticipantsPartial", Model)
                <p>/This event has 1 participant/</p>
            }
            else
            {
                @Html.Partial("_ParticipantsPartial", Model)
                <p>/This event has @Model.Participants.Count participants/</p>
            }
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="chat-container">
            @Html.Partial("_ChatPartial");
        </div>
    }
</div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.1.1.js" type="text/javascript"></script>
    <script src="~/SignalR/hubs" type="text/javascript"></script>
    @*<script src="~/Scripts/Custom/timer.js"></script>
    <script src="~/Scripts/Custom/getTimeOffset.js"></script>*@
}
