@using BikeTrips.Services.Web;
@using BikeTrips.Web.ViewModels.TripModels
@model FullTripViewModel

@{
    ViewBag.Title = Model.TripName;
}
<div class="row">
    <h2 class="page-title">Name: @Model.TripName</h2>
    <p class="enlarge-text">@Model.Type.GetDescription()</p>
    <p class="enlarge-text">Starting in: @Model.StartingPoint</p>
    <p class="enlarge-text">On: @Model.StartingTime</p>
</div>
<div class="row">Created by @Model.User</div>
<div class="row participants-container">
    <h3 class="page-title">Participants</h3>
    @if (Model.Participants.Count <= 0)
    {
        <p class="enlarge-text">This events has no participants currently</p>
    }
    else
    {
        <ul class="enlarge-text">
            Participants:
            @foreach (var participant in Model.Participants)
            {
            <li>Name: @participant.Name</li>
            }
        </ul>
    }

    @Html.ActionLink("Join", "../Trip/Create", null, new { @class = "btn btn-info", @role = "button" })
</div>
<div class="row comments-container">
    <h3 class="page-title">Comments</h3>
    @if (Model.Comments.Count <= 0)
    {
        <p class="enlarge-text">There are no comments for this trip</p>
    }
    else
    {
        <ul class="enlarge-text">
            Comments:
            @foreach (var comment in Model.Comments)
            {
                <li>
                    <h5>Name: @comment.Author.Name</h5>
                    <div>@comment.Content</div>
                </li>
            }
        </ul>
    }

    @Html.ActionLink("Comment", "../Trip/Create", null, new { @class = "btn btn-info", @role = "button" })
</div>




